:root {
  --light-color: hsl(000 100% 100%);
  --border-color: hsl(010 70% 30%);
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(5px);
  }


  50% {
    transform: translateY(10px);
  }

  75% {
    transform: translateY(5px);
  } 

  100% {
    transform: translateY(0);
  }
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

header {
  background: oklab(from hsl(000 0% 0%) l a b);
  padding-block: 1vw;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

h1 {
  color: white;
  text-align: center;
}

main {
  width: 20%;
  margin: 15vw auto;

  background: linear-gradient(
  to right,
  hsl(050 50% 50%),
  hsl(050 50% 57%)
  );

  border: 12px solid var(--border-color);
  border-radius: 12px;

  box-shadow: 12px 12px 10px black;

  animation: 
  slide
  2.5s
  linear
  infinite;
}

main:hover {
  animation-play-state: paused;
}

footer {
  width: 40%;
  margin: 15vw auto;

  background: linear-gradient(
  to right,
  hsl(000 0% 32%),
  hsl(000 0% 45%)
  );

  border: 10px solid var(--border-color);
  border-radius: 12px;

  box-shadow: 12px 12px 10px black; 

  animation: 
  slide
  2.25s
  linear
  infinite;
}

.UpgradeDivStyle{
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UpgradeDivStyle p {
  background-color: oklch(0.35 0 0);
  border-radius: 22px;

  width: 20%;
  height: 3vh;

  padding-top: 10px;
  text-align: center;

  font-size: 1.1rem;

  color: #ffffff;
}

.ButtonsDivStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;
  height: 20vh;
}

.UpgradeBtn20Style {
  width: 15%;
  height: 4vh;

  border: 4px solid oklch(1 1 100);
  border-radius: 18px;

  background-color: oklch(0.65 0.35 145); 

  margin: 2vh auto;
}

.NumberInputStyle {
  padding-block: 20px;
  margin: 10px auto;
  width: 20%;
  text-align: center;
  color: white;

  background: black;

  border-radius: 12px;
}

.ButtonClickStyle {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  background: hsl(010 60% 30%);

  width: 30%;
  height: 60px;

  border: 6px solid black;
  border-radius: 12px;
}


button:hover {
  transform: scale(1.05);

  transition: transform 1s ease;
}

button:active {
  transform: scale(0.9);

  transition: transform 1s ease;
}

.LightBtnStyle {
  background: var(--light-color);
  width: 3%;
  font-size: 1rem;

  border-radius: 12px;
  border-bottom: 8px solid black;
}

.DarkBtnStyle {
  color: var(--light-color);
  background: hsl(000 0% 0%);
  width: 3%;
  font-size: 1rem;

  border-radius: 12px;
  border-bottom: 8px solid hsl(000 100% 100% / 0.5);
}

code {
  font-size: 1.25rem;
  color: red;
}

.Sell {
  background-color: oklch(0.2 0.45 50);
}

@media (max-width: 786px) {
  main {
    width: 70%;

    border: 4px solid var(--border-color);
  }

  .LightBtnStyle {
    width: 22%;

    height: 65px;
  }

  .DarkBtnStyle {
    width: 22%;

    height: 65px;
  }

  footer {
    width: 70%;

    border: 4px solid var(--border-color);
  }

  .UpgradeDivStyle p {
    width: 65%;
  }

  .UpgradeBtn20Style {
    width: 40%;

    height: 45px;
  }
}
